.button {
    -fx-background-color: #10bb7f;
    -fx-border-color: #10bb7f;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #11d28e;
    -fx-border-color: #11d28e;
    -fx-text-fill: white;
}

.button:pressed {
    -fx-background-color: #1b6d4f;
    -fx-border-color: #1b6d4f;
    -fx-text-fill: white;
}

.button.success {
    -fx-background-color: #198754;
    -fx-border-color: #198754;
    -fx-text-fill: white;
}

.button.success:hover {
    -fx-background-color: #157347;
    -fx-border-color: #157347;
    -fx-text-fill: white;
}

.button.success:pressed {
    -fx-background-color: #146C43;
    -fx-border-color: #146C43;
    -fx-text-fill: white;
}